input {
  display: none;
}

.profileCard {
  background-color: white;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  margin-top: 3em;
  border-radius: 10px;
  padding: 1em;
}

.profilePicture {
  border-color: aliceblue;
  border-radius: 50%;
  background-color: #f6edea;

  width: 10em;
  height: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#elementID {
  color: #c9a2a2;
  cursor: pointer;
  text-shadow: 1px 1px 1px #ccc;
}

.username,
.useremail,
button {
  margin-left: 10%;
}
.username,
.useremail {
  padding-top: 5%;
}
.box2 {
  width: 20em;
  display: flex;
  flex-direction: column;
}
p,
h3 {
  margin: auto;
}

.togglebutton {
  margin-top: auto;
  display: flex;
  flex-direction: row;
}

button {
  align-items: center;
  background-color: #c9a2a2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell,
    "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s,
    color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

button:hover {
  background-color: #9e7f7f;
  color: #ffffff;
}
